jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc
      - name: Build
        run: cargo build --release --target x86_64-pc-windows-msvc
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: slipstream-windows
          path: target/x86_64-pc-windows-msvc/release/slipstream.exe
