name: Cross-Build Windows EXE

on:
  workflow_dispatch:

jobs:
  build:
    # اینجا کلک اصلی رو می‌زنیم: روی لینوکس اجرا می‌کنیم که ارور ۱۹۳ نده
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Cross-Compilation Tools
        run: |
          sudo apt-get update
          # نصب کامپایلر MinGW برای ساخت فایل exe در لینوکس
          sudo apt-get install -y mingw-w64 nasm llvm clang build-essential

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          # تارگت ویندوز رو نصب می‌کنیم
          targets: x86_64-pc-windows-gnu

      - name: Build for Windows
        env:
          # تنظیم محیط برای کامپایل کدهای C (مثل picoquic) برای ویندوز
          CC: x86_64-w64-mingw32-gcc
          CXX: x86_64-w64-mingw32-g++
          AR: x86_64-w64-mingw32-ar
          # حل مشکل OpenSSL
          OPENSSL_DIR: /usr/lib/ssl
          PKG_CONFIG_ALLOW_CROSS: 1
        run: |
          # بیلد کردن برای ویندوز (gnu abi پایدارتره برای این مدل پروژه‌ها)
          cargo build --release --target x86_64-pc-windows-gnu --features openssl/vendored

      - name: Rename Output
        run: |
          mv target/x86_64-pc-windows-gnu/release/slipstream.exe ./slipstream.exe

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: slipstream-windows-64bit
          path: slipstream.exe
