name: Build Windows Client (Final Fix)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    env:
      OPENSSL_NO_VENDOR: 0
      PICOQUIC_AUTO_BUILD: 1
      # تنظیم مسیر Clang برای حل ارور Os 193 (Bindgen)
      LIBCLANG_PATH: 'C:\Program Files\LLVM\bin'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive' # دانلود کامل کدهای C زیرمجموعه

      - name: Install Dependencies (NASM, Perl, LLVM)
        run: |
          choco install nasm strawberryperl llvm -y
          echo "C:\Program Files\LLVM\bin" >> $env:GITHUB_PATH

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up MSVC (Visual Studio Build Tools)
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc

      - name: Build Binary
        # استفاده از پاورشل پیش‌فرض گیت‌هاب برای جلوگیری از تداخل link.exe
        run: cargo build --release --features openssl/vendored

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: slipstream-windows-binary
          path: target/release/*.exe
