name: Build Windows Client

on:
  workflow_dispatch: # باعث می‌شه بتونی دستی دکمه بزنی برای بیلد

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc

      - name: Build Binary
        run: cargo build --release

      - name: Upload EXE
        uses: actions/upload-artifact@v3
        with:
          name: slipstream-windows-binary
          path: target/release/*.exe
